################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VanhackPdfGenerator/bin/Debug
/.vs/VanhackPdfFiller/v16/Server/sqlite3
/.vs/VanhackPdfFiller/v16
